In [ ]:
                                                 ASSIGNMENT-6
                                                 S.NAVEENA
                                                 205209120

In [ ]:
#1
def max_of_two(x,y):
  if x>y:
      return x
  else:
      return y
def max_of_three(x,y,z):
  return max_of_two( x, max_of_two( y,z))
print(max_of_three(2,4,-5))

4

In [ ]:
#2
def reverse_string(str):
    str1 = ""    #Declaring empty string to score the reversed string
    for i in str:
      str1 = i+str1
    return str1    #It will return the reversed string to the caller function
str = "Python"  #Given string
print("The original string is: ",str)
print("The reverse string is ",reverse_string(str))  #Function cell

The original string is:  Python
The reverse string is  nohtyP

In [5]:
#3
def string_test(s):
  d={"UPPER_CASE":0, "LOWER_CASE":0}
  for c in s :
      if c.isupper():
         d["UPPER_CASE"]+=1
      elif c.islower():
        d["LOWER_CASE"]+=1
      else:
         pass
  print ("Original String : ", s)
  print ("No. of upper case characters : ", d["UPPER_CASE"])
  print ("No. of lower case characters : ", d["LOWER_CASE"])  
string_test('Your Comfort Zone Is Your Enemy')

Original String :  Your Comfort Zone Is Your Enemy
No. of upper case characters :  6
No. of lower case characters :  20

In [ ]:
#4
def unique_list(l):
  x = []
  for a in l :
      if a not in x:
         x.append(a)
  return x

print(unique_list([1,2,3,3,3,34,5,6,4,5 ]))

[1, 2, 3, 34, 5, 6, 4]

In [ ]:
#5
def ispalindrome(string):
  left_pos = 0
  right_pos = len(string)-1

  while right_pos >=left_pos:
    if not string[left_pos] ==string[right_pos]:
        return False
    left_pos +=1
    right_pos -=1
  return True
print(ispalindrome('aza'))

True