In [ ]:
movie='MASTER'
print(movie)

MASTER

In [ ]:
name='NAVEENA'
department='CHEMISTRY'
address='TRICHY'
print(f'I am {name} from {department} in {address} ')

I am NAVEENA from CHEMISTRY in TRICHY

In [ ]:
print('INDIA')
print('CANADA')
print('JAPAN')
print('GERMANY')
print('AUSTRALIA')

INDIA
CANADA
JAPAN
GERMANY
AUSTRALIA

In [ ]:
m='canada'
n='India'
o='Japan'
p='Germany'
q='Australia'
print(m,n,o,p,q)

canada India Japan Germany Australia

In [ ]:
a='PYTHON'
b='PROGRAMMING'
c=2021
print(a,b,c)

PYTHON PROGRAMMING 2021

In [ ]:
name1=input('ENTER UR NAME :')
department1=input('ENTER YOUR DEPARTMENT : ')
address1=input('ENTER YOUR ADDRESS : ' )

ENTER UR NAME : Naveena
ENTER YOUR DEPARTMENT :  Chemistry
ENTER YOUR ADDRESS :  Trichy

In [ ]:
print=float(input('ENTER NUMBER :'))

ENTER NUMBER : 20.5

In [ ]:
print('PYTHON 2021 PROGRAMMIMG')

PYTHON 2021 PROGRAMMIMG

In [ ]:
name='Naveena'
age=21
place='Perambalur'
education='Msc chemistry'
institution='BHC Trichy'
print(f'I am {name} from {place} and I am {age} years old currently am doing {education} at {institution}')

I am Naveena from Perambalur and I am 21 years old currently am doing Msc chemistry at BHC Trichy